<div class="dark_bg">
    <div class="hover_block">
        <div class="hover_title">
            <h5>{{array_book.title}}</h5>
            <p>Number of pages: {{array_book.numberOfPages}}p</p>
            <button type="button">Read</button>
        </div>
    </div>
    <div class="hover_top_btn">
        <button type="button" id="edit"><i class="far fa-edit"></i></button>
        <button type="button" id="delete" (click)="change(index_of_book)"><i class="fas fa-times"></i></button>
    </div>
</div>