<main>
    <div class="darker_bg">
        <div class="top_part">
            <h4>Books Library</h4>
            <div class="search_btn">
                <input class="notActive" type="text" [(ngModel)]="term" placeholder="Search book..." [ngClass]="{'active_search': isActiveSearchBlock}">
                <a href="#" [routerLink]="" (click)="activatedSearchBlock()">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
        <div class="filter_block">
            <select [(ngModel)]="selectedGener" name="geners" id="geners">
                <option *ngFor="let g of bookService.geners">{{ g }}</option>
            </select>
            <div class="howManyBooks">
                <span class="books_num">{{ array_of_books.length }}</span>
                <span class="books_text">&nbsp;books</span>
            </div>
        </div>
        <div class="container_fluid hoster_book">
            <div class="row">
                <book *ngFor="let item of array_of_books | search:term | filter:selectedGener" (onChanges)="onChangeEvent($event)" [array_book]="item" [ngStyle]="{'background-image': 'url('+item.imageSrc+')'}"></book>
                <div class="dark_bg_popup" >
                    <div class="popup_change">
                        <button type="button" id="delete"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
