<div class="cont">
    <div class="darker_bg_for_active_desc" *ngIf="isActiveAuthorDesc">
        <app-author-description (onsubmit)="onSubmitEdit($event)" [author]="author"></app-author-description>        
    </div>
    <div class="darker_bg_for_active_desc" *ngIf="isActiveCreateAuthor">
        <app-forms-for-create-author (onsubmit)="onSubmitAuthor($event)"></app-forms-for-create-author>
    </div>
    <div class="dark_bg">
        <div class="top_part">
            <h4>Authors</h4>
            <div class="search_btn">
                <input  class="notActive" 
                        type="text" 
                        [(ngModel)]="term" 
                        placeholder="Search author..." 
                        [ngClass]="{'active_search': isActiveSearchBlock}">
                <a (click)="activatedSearchBlock()">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
        <main>
            <div class="authors_host contrainer-fluid">
                <div class="row hoster_block">
                    <app-author (click)="activatedAuthorDesc(author)" *ngFor="let author of authors; let i = index" [index]="index" [author]="author" [ngStyle]="{'background-image': 'url('+ author.url +')'}"></app-author>
                </div>
            </div>     
        </main>
    </div>
</div>
<a class="hover_title" (click)="activatedCreateAuthor()"  data-title="Add Author" id="add">
    <i class="fas fa-plus-circle"></i>
</a>